<div id="search" class="input-group search__close_input hidden">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-inner"><svg class="icon-search"><use xlink:href="#search-btn"></use></svg></button>
  </span>
</div>
